SECRET_KEY=your_secret_key
DB_USER=database_user_name
DB_PASSWORD=database_password
DB_NAME=name_of_database
HOST=host_ip
PORT=port_instanse
HOST_USER=example@gmail.com
HOST_PASSWORD=your_email_password
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
GITHUB_ID=Github_OAuth_Apps_ID
GITHUB_SECRET=Github_OAuth_Apps_SECRET
GOOGLE_OAUTH2_ID=GOOGLE_OAuth2_ID
GOOGLE_OAUTH2_SECRET=GGOOGLE_OAuth2_Apps_SECRET