{% extends 'app1/base.html' %}

{% block content %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<form method="post">
    <h1 align="center">Change Password</h1>
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="old_password"
               placeholder="Enter your old password" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="new_password"
               placeholder="Enter your new password" required>
    </div>

    <div align="center">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>

{% endblock %}
