{% extends 'app1/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2 align="center">Sign In</h2>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div align="center">
        <button type="submit" class="btn btn-success">Sign In</button>
    </div>
</form>

<button type="submit" class="btn btn-success social-btn" onclick="location.href='{% url 'social:begin' 'github' %}'">
    Sing In
    with Github
</button>

<button type="submit" class="btn btn-success social-btn"
        onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'">   Sing In with GOOGLE
</button>


<style>
     .social-btn {
	 display: flex;
	 flex-direction: column;
	 max-width: 400px;
	 margin: auto;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 padding: 10px;
}

</style>
{% endblock %}